.info-general-content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.info-general-content-box__logo-sena{
    width: 5rem;
    height: 5;
    position: relative;
    top: 1rem;
    margin-bottom: 2rem;
}

.info-general-content-box__main-title{
    text-align: center;
    font-size: 25px;
}

.info-general-table{
    width: 80%;
    border-collapse: collapse;
}

.info-general-table_th{
    background-color: #dfdede;
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
    text-wrap: nowrap;
}

.info-general-table_tr{
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.info-general-table_td{
    text-align: left;
}

.info-general-table_td input {
    width: 100%;
    padding: 10px;
}

.info-general-table_td textarea {
    width: 100%;
    padding: 10px;
}
