.calendar-box{
  margin-top: 120px;
  padding-top: 20px;
  width: 1000px;
  position: relative;
  left: 20%;
}
.calendar-container {
  position: relative; /* Cambia la posición a relativa */
  margin: 0 auto; /* Centra el calendario horizontalmente */
  max-width: 100%; /* Asegura que el calendario no sea más ancho que el viewport */
  height: 95vh; /* Establece la altura del calendario */
}

.calendar-container .rbc-event{

  background-color: #39a900;
  color: #fff;
}

.modal-title {
  text-align: center; /* Centra el texto en todos los dispositivos */
}

.back__button-calendar .Regresar-calendar{
  color: #39a900;
  font-size: 20px;
  padding: 8px;

}
.back__button-calendar:hover{
  border-bottom: 10px;
  transform: scale(1.2);
}



.modal-calendar-content{
  position: relative;
  top: -30px;
}
.modal-calendario{
  width: 1000px;
}
/* Celulares con breakpoint de 480px */

@media screen and (max-width: 480px) {
  .calendar-box{
    margin-top: 150px;
    padding-top: 20px;
    width: 400px;
    position: relative;
    left: -2px;
  }
  .calendar-container {
    height: 90vh; /* Ajusta la altura en pantallas aún más pequeñas */
    width: 90vw;
    top: -10px;
}
  .calendar-container .rbc-event{
    position: relative;
    top: -5px;
    background-color: #39a900;
    color: #fff;
  }

  .back__button-calendar{
    position: relative;
    left: 0px;
    top: -9px;
  }

  .modal-title {
    text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
    position: relative;
    right: 45px;
  }
}


@media screen and (min-width: 1024px) {
  .calendar-container {
    height: 100vh; /* Ajusta la altura en pantallas aún más pequeñas */
    width: 70vw;
    top: -10px;
    right: 80px;
  }
  .calendar-container .rbc-event{
    position: relative;
    top: -5px;
    background-color: #39a900;
    color: #fff;
  }

  .modal-title {
    text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
    position: relative;
    right: 10px;
  }
  
  .back__button-calendar{
    position: relative;
    left: -140px;
    top: 9px;
  }
}

@media screen and (min-width: 1272px) {
    .calendar-box{
      position: relative;
      left: 15%;
    }

    .calendar-container {
      height: 110vh; /* Ajusta la altura en pantallas aún más pequeñas */
      width: 70vw;
      top: -10px;
    }
    .calendar-container .rbc-event{
      position: relative;
      top: -5px;
      background-color: #39a900;
      color: #fff;
    }

    .modal-title {
      text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
      position: relative;
      right: 10px;
    }
    
    .back__button-calendar{
      position: relative;
      left: -90px;
    }
}

@media screen and (min-width: 1358px) {
  .calendar-box{
    position: relative;
    left: 18%;
  }
  .back__button-calendar{
    position: relative;
    left: -150px;
  }
}

@media screen and (min-width: 1545px) {
      .calendar-container .rbc-event{
      position: relative;
      top: 0px;
      background-color: #39a900;
      color: #fff;
    }
}

@media screen and (min-width: 1865px) {
    .calendar-box{
      position: relative;
      left: -0%;
    }
    .calendar-container {
      height: 80vh; /* Ajusta la altura en pantallas aún más pequeñas */
      width: 70vw;
      top: -10px;
    }
    .calendar-container .rbc-event{
      position: relative;
      top: 0px;
      background-color: #39a900;
      color: #fff;
    }

    .modal-title {
      text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
      position: relative;
      right: 10px;
    }
    
    .back__button-calendar{
      position: relative;
      left: -100px;
    }
}







