.calendar-container {
  position: relative; /* Cambia la posición a relativa */
  margin: 0 auto; /* Centra el calendario horizontalmente */
  max-width: 100%; /* Asegura que el calendario no sea más ancho que el viewport */
  height: 95vh; /* Establece la altura del calendario */
}

.calendar-container .rbc-event{

  background-color: #39a900;
  color: #fff;
}

.modal-title {
  text-align: center; /* Centra el texto en todos los dispositivos */
}

.back__button-calendar .Regresar-calendar{
  color: #39a900;
  font-size: 20px;
  padding: 8px;
}
.Regresar-calendar:hover{
  color: #fff;
  background-color: #39a900;
  border-bottom: 10px;
}

.modal-body {
  display: flex;
}

.modal-column {
  flex: 1;
}

.modal-column:first-child {
  border-right: 1px solid #ccc; /* Agrega un borde a la derecha del primer modal-column */
}

.modal-column + .modal-column {
  margin-left: 5px; /* Agrega un margen a la izquierda del segundo modal-column */
}



@media screen and (min-width: 1024px) {
  .calendar-container {
    height: 105vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 70vw;
    top: -5px;
    position: relative;
    left: 15%;
  }
  .calendar-container .rbc-event{
    position: relative;
    background-color: #39a900;
    color: #fff;
  }
  .back__button-calendar{
    position: relative;
    left: 5%;
  }
  .modal-title {
    text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
    position: relative;
    right: 20px;
  }
}

@media screen and (max-width: 1272px) {
  .calendar-container {
    height: 115vh; /* Ajusta la altura en pantallas más pequeñas */
    width: 70vw;
    top: -5px;
    position: relative;
    left: 20%;
  }
  .calendar-container .rbc-event{
    position: relative;
    background-color: #39a900;
    color: #fff;
  }
  .back__button-calendar{
    position: relative;
    left: 10%;
  }
  .modal-title {
    text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
    position: relative;
    right: 60px;
  }
}


@media screen and (max-width: 480px) {
  .calendar-box{
    width: 100%;
    position: relative;
    left: 50%;
    top: 15px;
  }
  .calendar-container {
    height: 95vh; /* Ajusta la altura en pantallas aún más pequeñas */
    width: 100%;
    top: -10px;
    position: relative;
    left: 30px;
}
  .calendar-container .rbc-event{
    position: relative;
    top: -5px;
    background-color: #39a900;
    color: #fff;
  }

  .back__button-calendar{
    position: relative;
    top: -2px;
    left: 5%;
    font-size: 25px;
  }

  .modal-title {
    text-align: left; /* Ajusta la alineación a la izquierda en dispositivos móviles */
    position: relative;
    right: 60px;
  }
}

