.documents-aprendiz-main{
    margin-top: 120px;
    padding-top: 20px;
}
.docs-content{
    position: relative;
    left: 10%;
    width: 1000px;
}
/* Estilos para el formulario de carga de documentos */
.form-docs-aprendiz {
    width: 1000px;
}

.form-docs-aprendiz{
    width: 500px;
}
.form-docs-aprendiz select,
.form-docs-aprendiz input[type='file'],
.form-docs-aprendiz button {
    margin-bottom: 15px;
}
  
.form-docs-aprendiz select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;
}
  
.form-docs-aprendiz input[type='file'] {
    width: 100%;
}
  
.form-docs-aprendiz button {
    background-color: #39a900; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.form-docs-aprendiz button:hover {
    background-color: #45a049; /* Verde más oscuro */
}
  
/* Estilos para la tabla de documentos */
.table-container {
    margin-top: 20px;
    position: relative;
    left: 0%;
    bottom: 10px;
}
  
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
  
.table-container th,
.table-container td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
  
.table-container th {
    background-color: #f2f2f2; /* Gris claro */
}
  
.table-container tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro */
}
  
.table-container tr:hover {
    background-color: #ddd; /* Gris más oscuro */
}
.btnDownloadAprend{
    color: #39a900;
}
.btnDownloadAprend:hover{
    text-decoration: underline;
}
.upTitle{
    color: #39a900;
}


/* Para dispositivos */
@media screen and (max-width: 480px) {
    .docs-content{
        position: relative;
        left: 5%;
        width: 1000px;
    }
    .form-docs-aprendiz {
        margin-bottom: 30px;
        position: relative;
        width: 370px;
        left: 0px;
    }

    .form-docs-aprendiz form{
        width: 330px;
    }
    .form-docs-aprendiz select {
        display: flex;
        position: relative;
        left: -10px;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #EEEEEE;
    }
    .form-docs-aprendiz input[type='file'] {
        display: flex;
        position: relative;
        padding: 8px;
        left: -10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #EEEEEE;
    }

    .table-container {
        margin-top: 20px;
        position: relative;
        left: 0%;
    }
    
} 

