@tailwind base;
@tailwind components;
@tailwind utilities;


.login-body{
    background-color: #F5F5F5;
    height: 100vh;
}

.header-login{
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    background-color: #fff;
    border-bottom: 10px solid #39a900;
}

.logo-sena{
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 0.3rem;
}

.cditi-title{
    position: relative;
    left: 1rem;
    top: 2rem;
    font-size: 14px;
}
.logo-seep{
    width: 15rem;
    height: 14rem;
    position: relative;
    bottom: 3.5rem;
}

.main-login-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #F5F5F5;
}

.form-login-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 22rem;
    height: 25rem;
}

.form-login-content-label{
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    left: 2rem;
    top: 2rem;
}

.form-login-content-input{
    width: 15rem;
    background-color: #E7E7E7;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    left: 2rem;
    top: 2rem;
}

.form-login-content-forget{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #39a900;
    padding: 5px;
    text-decoration: none;
    position: relative;
    top: 2rem;
}

.form-login-content-forget:hover{
    text-decoration: underline;
}

.form-login-content-btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.form-login-content-loginBtn{
    display: initial;
    background: #39a900;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    top: 2rem;
}

.form-login-content-loginBtn:hover{
    background-color: #318f02;
}

.form-login-content-errors{
    position: relative;
    top: 2.1rem;
    left: 1rem;
}

.piePagina{
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .form-login-content{
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 18rem;
        height: 25rem;
    }

    .form-login-content-label{
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
        left: 1rem;
        top: 2rem;
    }
    
    .form-login-content-input{
        width: 13rem;
        background-color: #E7E7E7;
        border-radius: 10px;
        padding: 8px;
        position: relative;
        left: 1rem;
        top: 2rem;
    }

    .cditi-title{
        position: relative;
        left: -1rem;
        font-size: 15px;
        top: 1rem;
    }

    .logo-seep{
        width: 12rem;
        height: 14rem;
        position: relative;
        bottom: 3.5rem;
    }

    .welcome-title{
        position: relative;
        top: 1rem;
    }

    .form-login-content-errors{
        position: relative;
        top: 2.1rem;
        left: 0rem;
    }
}